@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@600;700&display=swap');
@import "reset";
@import "_titles";
@import "_variables";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  @extend %miniTitle;
}

body {
  font-family: 'Caladea';
  padding-top: 70px;
  & > *:not(.footer) {
    padding: 0px 140px;
  }
}

header {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  padding: 0px 140px;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 10px;
      @extend %miniTitle;
      &:first-child {
        li {
          margin-right: 60px;
        }
      }
    }
  }
}

.banner {
  height: 100vh;
  padding: 0;
  background-image: url("https://media.istockphoto.com/photos/everyone-wants-to-know-her-nail-technicians-number-picture-id1307401269?b=1&k=20&m=1307401269&s=170667a&w=0&h=D_C7BRB2RmOcdpfaPl1RSGPuoWSqz4LkUV_36sB0hsg=");
  opacity: 0.8;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0px $sideSpace;
  margin-bottom: 80px;
  h3 {
    font-size: 40px;
    width: 45%;
    text-align: center;
    margin-bottom: 70px;
  }
  a {
    width: 15%;
    background-color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    @extend %miniTitle;
    font-size: 10px;
    transition: color .3s linear, background 0.3s linear;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.under-banner {
  width: 100%;
  height: 70vh;
  display: flex;
  margin-bottom: 80px;
  .under-banner__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        @extend %miniTitle;
        margin-bottom: 30px;
      }
      h3 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 50px;
      }
      a {
        border: 1px solid black;
        padding: 10px 20px;
      }
    }
  }
  img, div {
    width: 50%;
  }
}

.blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60vh);
  margin-bottom: 50px;
  .blog__post {
    display: grid;
    background-color: $bg;
    grid-template-columns: repeat(2, 1fr);
    &:nth-child(odd){
      img {
        order: 1;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .post__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .post__date{
    @extend %miniTitle;
    margin-bottom: 50px;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 100px;
  .gallery__poster {
    height: 100%;
    cursor: pointer;
    img {
      max-width: 100%;
      height: 100%;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.footer {
  background-color: $bg;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0;
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @extend %miniTitle;
    .column__title {
      margin-bottom: 50px;
      opacity: 0.5;
    }
    ul {
      text-align: center;
      li {
        margin-bottom: 10px;
      }
    }
    &:nth-child(2) {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }

}